.educations
    // margin: 1rem 2rem

    &__titles
        display: flex
        align-items: center
        justify-content: space-between
        
        .paper
            height: 50px
            width: 160px
            background: linear-gradient(to bottom right, #c9eac2, 20%, rgba(213, 224, 249, 0)), #d5f9d5; 
            font-size: 20px

        .paper::after
            background: linear-gradient(rgba(255, 255, 255, 0), 50%, #c9eac2, 51%, rgba(255, 255, 255, 0)), linear-gradient(to right, rgba(255, 255, 255, 0), 50%, #c9eac2, 51%, rgba(255, 255, 255, 0))

    &__image
        width: 50px

.education
    // display: grid
    // grid-template-columns: 200px 1fr
    border-bottom: 1px solid #949494ff
    h3
        margin-bottom: .5rem
    
    &__dates
        padding: 1rem 0
    &__text
        padding: 1rem
        // border-left: 1px solid #cececeff
        .list
            display: flex
            margin: 0 0 1rem
            ul
                margin: .5rem 1rem 0 1rem