.profile 
    // margin: 1rem 2rem
    border-bottom: 1px solid #949494ff
        
    /* MARK: Paper */
    &__titles 
        display: flex
        align-items: center
        justify-content: space-between
        
        .paper 
            height: 50px
            width: 160px
            background: linear-gradient(to bottom right, #c2d5ea, 20%, rgba(213, 224, 249, 0)), #d5e6f9
            font-size: 20px

        .paper::after
            background: linear-gradient(rgba(255, 255, 255, 0), 50%, #c2d5ea, 51%, rgba(255, 255, 255, 0)), linear-gradient(to right, rgba(255, 255, 255, 0), 50%, #c2d5ea, 51%, rgba(255, 255, 255, 0))
    
    &__image 
        width: 50px
        
    &__text 
        padding: 0 0 1rem