// MARK: Interests
.interests
    margin: 1rem 0
    border-bottom: 1px solid #000000

    // MARK: Paper Title
    &__titles
        display: flex
        align-items: center
        justify-content: space-between
        margin: 1rem 0
        
        // Paper Label
        .paper
            width: 160px
            height: 40px
            background: linear-gradient(to bottom right, #eac2dd, 20%, rgba(213, 224, 249, 0)), #f9d5f1
            font-size: 20px
            
        // Paper Folds
        .paper::after
            background: linear-gradient(rgba(255, 255, 255, 0), 50%, #eac2dd, 51%, rgba(255, 255, 255, 0)), linear-gradient(to right, rgba(255, 255, 255, 0), 50%, #eac2dd, 51%, rgba(255, 255, 255, 0))

    // Image
    &__image
        width: 50px
            
    // List of interests
    &__list
        padding: 1rem 2rem
        ul
            column-count: 2
            column-gap: 2rem




// ------------------------------------------


// MARK: PC
@media (min-width: 768px)
    .interests
        // List of interests
        &__list
            padding: 1rem 0 1rem 2rem