
.skills
    margin: 1rem 0
    &__titles
        display: flex
        align-items: center
        justify-content: space-between
        .paper 
            width: 100px
            height: 40px
            background: linear-gradient(to bottom right, #ead7c2, 20%, rgba(213, 224, 249, 0)), #f9e6d5
            font-size: 20px
            
        .paper::after 
            background: linear-gradient(rgba(255, 255, 255, 0), 50%, #ead7c2, 51%, rgba(255, 255, 255, 0)), linear-gradient(to right, rgba(255, 255, 255, 0), 50%, #ead7c2, 51%, rgba(255, 255, 255, 0))
        
    &__image
        width: 50px
        img
            width: 100%
            
    &__content
        display: flex
        gap: 2rem
        justify-content: center

        ul
            margin: .5rem 1rem 0 2rem