.credentials
    margin: 1rem 0
    
    &__titles
        display: flex
        align-items: center
        justify-content: center
        gap: 1rem
        margin: 1rem 0
    
    &__image
        width: 50px
    
    &__drivinglicense
        display: flex
        align-items: center
        justify-content: space-between

    &__language
        .language-content
            display: flex
            justify-content: space-evenly
            text-align: center