// MARK: Header
.hero
    background-color: #C8E0C4
    padding: 1rem
    border-bottom: 1px solid #000000
    
    &__text
        text-align: center
        margin: auto
    
        h1
            margin-bottom: 1rem
        


// -----------------------------------------


// MARK: TABLET
@media (min-width: 768px)
    .hero
        &__text
            h1
                font-size: 2.5rem
            h2
                font-size: 2rem



// -----------------------------------------


// MARK: PC
@media (min-width: 1024px)
    .hero
        &__text
            h1
                font-size: 3rem
            h2
                font-size: 2.5rem