/* MARK: EXPERIENCE*/

.experiences
    // margin: 1rem 2rem
    border-bottom: 1px solid black

    &__titles
        display: flex
        align-items: center
        justify-content: space-between
        
        .paper
            height: 50px
            width: 180px
            // width: 260px
            background: linear-gradient(to bottom right, #eae9c2, 20%, rgba(213, 224, 249, 0)), #f9f8d5
            font-size: 20px
        
        .paper::after
            background: linear-gradient(rgba(255, 255, 255, 0), 50%, #eae9c2, 51%, rgba(255, 255, 255, 0)), linear-gradient(to right, rgba(255, 255, 255, 0), 50%, #eae9c2, 51%, rgba(255, 255, 255, 0))

    &__image
        width: 50px

.experience
    // display: grid
    // grid-template-columns: 200px 1fr
    border-bottom: 1px solid #949494ff
    .chainbox-intern, .pz-intern
        border-bottom: 1px solid black
    .pz-intern, .pz-developer
        .dates, .text
            padding-top: 1rem
            .list
                margin: 0
    &__dates
        padding: 1rem 0
    &__text
        padding: 1rem
        // border-left: 1px solid #cececeff
        .list
            display: flex
            margin: 0 0 1rem
            ul
                margin: .5rem 1rem 0 1rem