/* MARK: EXPERIENCE*/

.experiences
    border-bottom: 1px solid black

    &__titles
        display: flex
        align-items: center
        justify-content: space-between
        margin: 1rem 0 0
        
        .paper
            height: 50px
            width: 180px
            background: linear-gradient(to bottom right, #eae9c2, 20%, rgba(213, 224, 249, 0)), #f9f8d5
            font-size: 20px
        
        .paper::after
            background: linear-gradient(rgba(255, 255, 255, 0), 50%, #eae9c2, 51%, rgba(255, 255, 255, 0)), linear-gradient(to right, rgba(255, 255, 255, 0), 50%, #eae9c2, 51%, rgba(255, 255, 255, 0))

    &__image
        width: 50px


    
.experience
    border-bottom: 1px solid #949494ff
    padding: 1rem 0

    &__title
        display: flex
        justify-content: space-between
        margin: 0 0 1rem
    
    &__name
        width: 50%
        font-size: 22px

    &__list
        padding: .5rem 2rem 0 2rem
    p
        padding: .5rem 0 0




/* MARK: Tablet */
@media (min-width: 768px)
    .experiences
        &__titles 
            .paper 
                width: 200px
                font-size: 24px
        &__image 
            width: 60px

    .experience
        display: grid
        grid-template-columns: 200px 1fr

        &__title
            display: block
            margin: 0
            border-right: 1px solid #cececeff
        &__name
            width: 100%
            font-size: 24px

        &__text
            border-left: 1px solid #cececeff
            padding: 0 1rem


/* MARK: PC */
@media (min-width: 1024px)
    .experiences
        &__titles 
            .paper 
                height: 60px
                font-size: 28px
        &__image 
            width: 70px
